@media (min-width:1251px) {
    .ourTeam .site__container {
        width: 90%;
        max-width: 1200px;
    }
}
@media (max-width:1250px) {
    .site__container {
        max-width: 970px;
        width: 100%;
    }

    .ourTeam .site__container {
        height: 100%;
        width: 90%;
        justify-content: space-around;
    }
    .ourTeam__portfolio {
        width: 65%;
        height: 55%;
        flex-wrap: wrap;
    }
    .plans__mainContainer {
    grid-gap: 1%;
    }
}
@media (max-width:992px) {
    .site__container {
        max-width: 970px;
        width: 95%;
    }

    .about__container-item:nth-of-type(2) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .ourTeam {
        width: 100%;
        height: 3000px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .ourTeam .ourProduct__header {
        height: 3%;
    }
    .ourTeam__portfolio {
        width: 55%;
        height: 50%;
        align-items: center;
        justify-content: center;
    }
    .ourTeam__progressBar {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        row-gap: 2em;
    }

    .plans {
        min-height: 1350px;
    }
    .plans__mainContainer {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 2em;
    }
    .ourBlog {
        height: unset;
    }
}
@media (max-width:836px) {
    .site__container {
        max-width: none;
        width: 95%;
    }

    .header__main {
        height: 100%;
    }
    .header__nav {
        display: none;
    }
    .header__nav__containerSecond {
        display: none;
    }
    .header__main__container {
        height: 300px;
    }
    .header__main-discription {
        overflow: hidden;
    }

    .about__container {
        min-height: 2000px;
    }
    .about__container-item__right img{
    display: none;
    }
    .about__container-item:nth-of-type(4) {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 55%;
    }

    .ourProduct {
        height: 1500px;
    }
    .ourProduct .ourProduct__header {
        height: 10%;
    }
    .ourProduct__main {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
    }
    .ourProduct__main-img {
        margin-bottom: 50px;
    }

    .ourClients .site__container {
        height: 90%;
        justify-content: space-around;
    }
    .ourClients__main {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 0.5fr 0.5fr;
        height: 70%;
    }

    .ourTeam {
        width: 100%;
        height: 3000px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .ourTeam .ourProduct__header {
        height: 3%;
    }
    .ourTeam__portfolio {
        width: 55%;
        height: 50%;
        align-items: center;
        justify-content: center;
    }
    .ourTeam__progressBar {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        row-gap: 2em;
    }

    .ourServices {
        height: 2000px;
    }
    .ourServices .site__container {
        height: 95%;
    }
    .ourServices__wrapperItem {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
    }

    .plans {
        min-height: 2500px;
    }
    .plans__mainContainer {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
    }
    .ourBlog {
        height: unset;
        min-height: 1000px;
    }
    .ourBlog .site__container {
        min-width: 300px;
        min-height: 1300px;
        justify-content: space-around;
    }
    .ourBlog .ourProduct__header {
        margin: 0;
    }
    .ourBlog__item {
        flex-direction: column;
        min-height: 300px;
    }
    .ourBlog__img img {
        width: 100%;
    }

    .fineUs__adress {
        display: none;
    }
}
@media (max-width:460px) {
    .followCr {
        height: unset;
    }
    .followCr__nav {
        flex-direction: column;
        margin-bottom: 50px;
        width: unset;
    }
}
@media (max-width:425px) {
    .ourServices {
        height: 2100px;
    }
}
@media (max-width:400px) {
    .header__main__buttonContainer {
        height: 150px;
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
    }
}
    .ourServices {
        height: 2300px;
    }
@media (max-width:315px) {
    .ourServices {
        height: 2500px;
    }
}
@media (max-width:280px) {
    .ourServices {
        height: 2700px;
    }
}
@media (max-width: 260px) {
    .ourServices {
        height: 3200px;
    }
    .ourServices__wrapperItem {
        grid-template-columns: 100%;
    }
}
